table {
  width: 70%;
  margin: auto;
  border-collapse: collapse;
  background-color: white;
}

th {
  background-color: #ffcccb;
  color: black;
  padding: 12px;
  border: 1px solid black;
}

td {
  background-color: #fffacd;
  color: #333;
  padding: 12px;
  border: 1px solid black;
  text-align: center;
}
